//Typography
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
  font-weight: normal;
}
h1 {
  font-size: 1.5em;
}
//Structure
.tile {
  background-color: $white;
  border-radius: 15px;
  padding: 16px;
  box-shadow: $box-shadow;
  border: 1px solid $border-color;
}

.select-wrapper {
  select::placeholder {
    text-align: center;
  }
}
