@import '../typeface/NotoSansThai.css';

@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_variables.scss';
@import 'bootstrap/scss/_mixins.scss';

@import 'variables';

@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

* {
    font-family: $font-family-base;
}

.btn-gradient-primary,
.btn-gradient-primary:hover,
.btn-gradient-primary:focus {
    background-image: linear-gradient(to right, theme-color('primary'), #dbed02);
    color: #fff;
    border: none;
}

[class^="material-icons"] {
    vertical-align: middle;
}

.input-group-prepend {

    + .form-control {
        padding-left: 2px;
        border-left: none;
    }
}
