@font-face {
    font-family: 'Noto Sans Thai';
    src: url('Bold/NotoSansThai-Bold.eot');
    src: url('Bold/NotoSansThai-Bold.eot?#iefix') format('embedded-opentype'),
        url('Bold/NotoSansThai-Bold.woff2') format('woff2'),
        url('Bold/NotoSansThai-Bold.woff') format('woff'),
        url('Bold/NotoSansThai-Bold.ttf') format('truetype'),
        url('Bold/NotoSansThai-Bold.svg#NotoSansThai-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Thai';
    src: url('Regular/NotoSansThai-Regular.eot');
    src: url('Regular/NotoSansThai-Regular.eot?#iefix') format('embedded-opentype'),
        url('Regular/NotoSansThai-Regular.woff2') format('woff2'),
        url('Regular/NotoSansThai-Regular.woff') format('woff'),
        url('Regular/NotoSansThai-Regular.ttf') format('truetype'),
        url('Regular/NotoSansThai-Regular.svg#NotoSansThai-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

